<div class="row pt-3">
  <div class="col mb-3">
    <%= f.label :first_name, class: "form-label" %>
    <%= f.text_field :first_name, value: "Ahmad", class: "form-control" %>
  </div>
  <div class="col mb-3">
    <%= f.label :last_name, class: "form-label" %>
    <%= f.text_field :last_name , value: "raza", class: "form-control" %>
  </div>
  <div class="col mb-3">
    <%= f.label :company_id, class: "form-label" %>
    <%= f.text_field :company_id , value: "1", class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <%= f.label :gender, class: "form-label" %>
    <%= f.text_field :gender, value: "male", class: "form-control" %>
  </div>
  <div class="col mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, value: "male", class: "form-control" %>
  </div>
  <div class="col mb-3"></div>
</div>
<div class="row">
  <div class="col mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.text_field :password_confirmation, value: "123456", class: "form-control" %>
  </div>
  <div class="col mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.text_field :password, value: "123456", class: "form-control" %>
  </div>
  <div class="col mb-3"></div>
</div>